body {
  margin: 0;
  padding: 0;
  padding-top: 60px;
  font-family: 'Oxygen', sans-serif;
  background-color: #333;
  color: gainsboro;
}

* {
  border-radius: 0 !important;
}

.container {
  width: 100%;
}

form {
  width: 50%;
}

@media screen and (max-width: 600px) {
  form {
    width: 100%;
  }
}