**/*.DS_Store
server/config.js
server/node_modules
server/src/config.js
server/build

client/node_modules
client/build
client/.env
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
npm-debug.log
